.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto

Trabalho 1/dataProject
Trabalho 1/data.Need.Project/

Trabalho 2/dataProject
Trabalho 2/dataProject/

Atividaes/PadronTaxas/dataProject
Atividaes/PadronTaxas/dataProject/


SINGAGE.XLS